.Top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(247, 247, 247);
    align-items: center;
    height: 100px;
    margin-left:-64px;
}

.Middle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.Image {
    width: 400px;
    height: 350px;
    margin-top: 60px;
    padding-left: 200px;
}

.MiddleRight {
    margin-top: 40px;
    padding-right: 200px;
    font-size: medium;
}

.MiddleLeft {
    padding-right: 30px;
}

.name {
    background-color: lightgrey;
    border-radius: 20px;
    padding: 5px;
    width: 100px;
    text-align: center;
}

.DatePicker {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

label {
    font-size: smaller;
}

.title {
    color: #222;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: -5px;
}

.price {
    font-family: Arial, sans-serif;
    font-size: 15px;
    padding-bottom: 15px;
}

.dotted-line {
    position: relative;
    padding-bottom: 10px;
}

.dotted-line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px dotted #000;
}

.btn{
    border: 1px solid white;
    padding: 7px 25px;
    background-color: rgb(255, 59, 59);
    font-size: 14px;
    font-weight: 700;
    border-radius: 0;
    color: white;
    text-decoration: none;
    cursor: pointer;
    
}


.btn:hover {
    background-color: white;
    color: black;
    border: 1px solid rgb(255, 5, 5);
}

/* button {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid orangeRed;
    background: linear-gradient(45deg, #fff 50%, orangeRed 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;

  }
  
  button:after {
    content: ""; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, orangeRed 50%, transparent 50%);
    z-index: -1;
  } */
  
  /* button,
  button:after {
    background-size: 300%;
    background-position: 100%;
    transition: 1s, font-size 0.2s;
  }
  
  button:hover,
  button:hover:after {
    background-position: 0;
  } */
  

.dotted-line1 {
    position: relative;
    padding-bottom: 10px;
}

.dotted-line1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px dotted #000;
}

.Details h5 {
    margin-bottom: -5px;
}

.Details p {
    font-size: 13px;
    color: #777;
}

.dotted-line2 {
    position: relative;
    padding-bottom: 10px;
}

.dotted-line2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px dotted #000;
}

.iconsList {
    margin-top: -5px;
    margin-left: 1px;
}

.iconSet {
    color: black;
    cursor: pointer;
    transition: color 0.5s;
    margin-left: 50px;
}

.iconSet:hover {
    color: red;
}

.dotted-line3 {
    position: relative;
    padding-bottom: 10px;
}

.dotted-line3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px dotted #000;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
    padding: 10px 0px;
    background-color: rgb(226, 221, 221);
}

.text {
    font-size: x-small;
    font-family: Arial, sans-serif;
}

.Bottom {
    display: flex;
    flex-direction: row;
    padding-left: 150px;

}

.Bottom p {
    padding-left: 60px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.Line {
    width: 800px;
    height: 0.1px;
    margin-left: 195px;
    border: 0.1px solid rgb(235, 229, 229);

}

.Info {

    font-family: Arial, sans-serif;
    color: grey;
    font-size: smaller;
    align-items: center;
}

.Info h5 {
    padding-left: 59px;
}

.Info p {
    width: 780px;
}

 .Title-container .active {
    color: red;
    text-decoration: none;
    position: relative;
}

.Title-container .active:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: -20px;

    border-width: 0 0 2px;
    border-style: solid;
}

b {
    cursor: pointer;
}

#I1 {
    display: flex;
    flex-direction: row;
}

.Title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
    margin-right: 600px;
    padding-left: 150px;
    margin-bottom: 20px;
    font-size: small;
}

ul {
    list-style-type: square;
} 

.Total{
    border: 1px solid grey;
    border-radius: 25px;
    padding: 5px 13px;
    cursor: pointer;
    font-size: smaller;
}
.Total:hover{
    background-color: lightgray;
}
.PopQTY1 .quantity-selector1{
    margin-left: -22px;
}